.js {
  font-weight: bold;
  color:red;
}
#first {
  color:green;
}
span {
  color:blue;
}
h1 {
  font-size:45px;
  text-align:center;
  border-bottom:1px solid gray;
  margin:0;
  padding:20px;
}
a {
  color: none;
  text-decoration: none;
}
#grid ol {
  border-bottom:1px solid gray;
  border-right:1px solid gray;
  width:100px;
  margin:0;
  padding:20px;
  padding-left: 33px;
}
#grid {
  display:grid;
  grid-template-columns: 150px 1fr;
}
#article {
  padding-left:25px;
  border-bottom:1px solid gray;
}
@media(max-width:800px){
  #grid {
    display: block;
  }
  #grid ol {
    border-right:none;
    border-bottom:none;
  }
  h1 {
    border-bottom: none;
  }
  #article {
    border-bottom: none;
  }
